<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.r00lerz.com/ruleDefLang/RuleDef" 
       class = "com.r00lerz.ruleDef.ruleDef.RuleDefPackage"
       genModel = "model/generated/RuleDef.genmodel" /> 
	
  </extension>



</plugin>
