<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="default">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">tho7_2013_2a_team4</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@ondora01.hu.nl:8521/cursus01.hu.nl</property>
        <property name="hibernate.connection.username">tho7_2013_2a_team4</property>
        <property name="hibernate.default_schema">THO7_2013_2A_TEAM4</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.use_sql_comments">true</property>
        <mapping resource="Apex$Acl.hbm.xml" />
        <mapping resource="DemoCustomers.hbm.xml" />
        <mapping resource="Valuetype.hbm.xml" />
        <mapping resource="Value.hbm.xml" />
        <mapping resource="DemoProductInfo.hbm.xml" />
        <mapping resource="OwnTables.hbm.xml" />
        <mapping resource="Dept.hbm.xml" />
        <mapping resource="Operator.hbm.xml" />
        <mapping resource="FrontEndRuletype.hbm.xml" />
        <mapping resource="BackEndRuleType.hbm.xml" />
        <mapping resource="Generatedcode.hbm.xml" />
        <mapping resource="Test.hbm.xml" />
        <mapping resource="Emp.hbm.xml" />
        <mapping resource="DemoStates.hbm.xml" />
        <mapping resource="HtmldbPlanTable.hbm.xml" />
        <mapping resource="Businessrule.hbm.xml" />
        <mapping resource="DemoOrders.hbm.xml" />
        <mapping resource="Application.hbm.xml" />
        <mapping resource="Apex$WsWebpgSections.hbm.xml" />
        <mapping resource="DemoUsers.hbm.xml" />
        <mapping resource="Language.hbm.xml" />
        <mapping resource="DemoOrderItems.hbm.xml" />
    </session-factory>
</hibernate-configuration>
